/*----------------------------------------------------------------------------
++ JoomlaJunkie Joomla CSS
++ All Joomla! specific styling is kept here.
----------------------------------------------------------------------------*/
/* frontend editing mode
*****************************************/
#bd.editmode #secondary-content,
#bd.editmode #tertiary-content{display:none;}
#bd.editmode #yui-main,
#bd.editmode #yui-main .yui-b,
#bd.editmode #yui-main table{width:100%;margin-left:0;float:none;}

/* article info
****************************/
.article-options,
.article-options li{margin:0;margin:0 1.2em 0 0;overflow:hidden;list-style:none;}
.article-options{margin:.5em 0 1em 0;}
.article-options li{float:left;}
.article-options li.pdf,
.article-options li.email,
.article-options li.print{float:right;padding:0 0 0 5px;margin:0;}
.article-options li.author,
.article-options li.created,
.article-options li.modified{display:block;height:20px;line-height:20px;font-size:0.9em;padding:0 0 0 20px;}
.article-options li.author{background-position: top left;}
.article-options li.created{background-position: center left;}
.article-options li.modified{background-position: bottom left;}
.content{clear:both;overflow:hidden;}
.content p{margin-bottom:1em;}
.article-body p.teaser{margin-top:1em;}
.article-main{padding-bottom:2em;}
table.pagenav{clear:both;}

/* breadcrumbs
*****************************/
.pathway,.pathway li{margin:0;padding:0;list-style:none;background:none;}
.pathway{font-size:1em;overflow:hidden;}
.pathway a:link,#primary-content .pathway a:visited{font-size:1em;text-decoration:underline;}
.pathway li.pathway-current{background:none;}

/* pagination
****************************/
.pagination-counter,.pagination-links{display:block;clear:both;width:100%;}
.pagination-counter{text-align:center;margin:1em 0 0 0;color:#888;}
.pagination{margin-bottom:2em;display:block;height:30px;}
.pagination-links{margin-top:1em;clear:both;display:block;width:100%;float:left;overflow:hidden;}
.pagination-links .pagination li{display:inline;padding:2px 3px;margin:0 3px;color:#666;border:1px solid;border-color:#ddd #ccc;}
.pagination-links .pagination li a{color:#6CADBE;}

/* system messages
****************************/
dl#system-message{padding:1em;margin-bottom:1em;}
dl#system-message dt.error{font-size:1.5em;}
dl#system-message dd.error{font-size:1.2em;}
dl#system-message dd.error ul{margin:0;list-style:none;}
dl#system-message dd.error ul li{margin:0;list-style:none;color:#000;}
#primary-content #system-message dt{background: none;}
dl#system-message{border:5px solid #AF2F15;background:#FFD39F;}
dl#system-message dt.error{color:#AF2F15;}

/* readon links
****************************/
a.readon{padding:6px 12px;margin:9px 0 5px;display:inline-block;}
a.readon:hover{color:#fff;}
a.readon{background:#eee;color:#666;}
.readon:hover{background:#6CADBE;}

/* search results
****************************/
.search-results{list-style:lower-roman;margin:0 1em 0 3.8em;padding:0;}
.search-results li{list-style:lower-roman;margin-bottom:1em;padding-bottom:0.5em;}
.search-results li a{text-decoration:none;}
.search-results li p{margin-bottom:1em;}
.search-section{padding:0.5em 0;display:block;}
.search-description{font-size:0.8em;}
.pagination li{display:inline;}
.search-info{overflow:hidden;margin:0 0 1em;padding:0.5em;list-style:none;line-height:3em}
.search-info li{list-style:none;margin:0;padding:0 10px;}
.search-counter{float:left;font-size:1.1em;}
.search-limit{float:right;}
.searchintro{font-size:1.2em;margin:1em 0;}
.searchintro span{}

/* blog view
****************************/
.blog{overflow:hidden;}
.blog .componentheading.frontpage{margin:0 0 1em 0;}
.blog .featured{border-top:5px solid #eee;background:#E1E1E1;padding:1em 1em 0.3em;margin-bottom:2em;}
.blog .featured h2,.blog .featured h2 a{margin:0;padding:0;display:block;}
.blog .featured .article_separator{}
.blog .frontpage-blog h2{margin:.5em 0 .5em 0;padding:0;}
.blog .article_row{width:100%;float:left;overflow:hidden;border-bottom:1px solid #eee;}
.blog .cols2{width:49%;vertical-align:top;padding:0;margin:0;float:left;}
.blog .column2{float:right;}
.blog .column_separator{border-left:1px solid #ccc;}
.blog .article_separator{border:0;display:none;}
.blog .article_separator.last{display:none;}
.blog .blog_more{padding-top:1em;display:block;clear:both;}
.blog .contentdescription p{color:#999;font:normal 20px/28px arial;margin:0;}
.blog .pagenavcounter{color:#888;}
.blog .article-info{margin:-0.6em 0 0.8em;padding:0 0 0.5em;list-style:none;overflow:hidden;border-bottom:5px solid #eee;}
.blog .blogview-info li{list-style:none;font-size:0.9em;float:left;color:#999;}
.blog .blogview-info li.last{border-right:0;}
.blog .blogview-info li.btn-pdf,
.blog .blogview-info li.btn-email,
.blog .blogview-info li.btn-print{float:right;}
.frontpage-blog{margin-bottom: 2em;}
.blog_more .more-link{margin:0 0 .5em 0;font-size:1.4em;}

/* frontpage blog view
****************************/
.frontpage-blog{float:left;width:100%;}
.frontpage-blog .contentheading{float:left;margin:0;padding:0;}
.frontpage-blog .article-options,
.frontpage-blog .article-options li{margin:0;padding:0;}
.frontpage-blog .article-options{float:right;margin-top:7px;}
.frontpage-blog .content,
.frontpage-blog .article-info{margin:0;padding:0;}
.frontpage-blog .article-info{font-size:1.2em;}
.frontpage-blog .content{margin-bottom:1em;}

/* article styling
****************************/
.contentheading{margin:.5em 0 0 0;padding:0;}
.componentheading{border-bottom:4px solid #ddd;margin:0.6em 0;padding-bottom:0.4em;font-size:2em;}
.article-body p.teaser{font:1.6em/1.4em "Helvetica Neue",Helvetica,arial,sans-serif;color:#888;}
.contenttoc{background:#1F2323;}
.author,.created,.modified{color:#888;font-size:.8em;}
table.contentpane,table.contentpane td{border:0;padding:0;margin:0;}
.contenttoc{margin-left:1em;width:auto;float:right;}

/* joomla default table styles
****************************/
tr.sectiontableentry1 td,tr.sectiontableentry2 td,tr td.sectiontableentry1,tr td.sectiontableentry2{text-indent:5px;padding:10px 0 0 0;}
.sectiontableheader{text-align:left;font-size:1.3em;font-weight:bold;height:30px;background:transparent url(../images/table-header-bg.png) repeat-x scroll 0%;color:#fff;}
table td.sectiontableheader{border:none;color:#fff;}
td.sectiontableentry1 input,td.sectiontableentry2 input{margin-top:4px;}

/* polls component
****************************/
.poll{width:100%;margin:0;padding:0;}
.poll,#bd .poll tr,#bd .poll td{border:0;}
.pollstableborder{margin:0.5em 0 1em;width:100%;}
.pollstableborder td{padding:0.1em 0.2em;}
.pollstableborder td input{margin-top:4px;}
.polls_color_1{background-color:#8D1B1B;border:2px solid #B22222;}
.polls_color_2{background-color:#6740E1;border:2px solid #4169E1;}
.polls_color_3{background-color:#8D8D8D;border:2px solid #D2D2D2;}
.polls_color_4{background-color:#CC8500;border:2px solid #FFA500;}
.polls_color_5{background-color:#5B781E;border:2px solid #6B8E23;}
.pollstableborder tbody td{margin:0;padding:0;}
.polls_color_1,.polls_color_2,.polls_color_3,.polls_color_4,.polls_color_5{padding:5px;margin:2px;}
.polls h4,.polls h4{margin: 0 0 5px 0;}
.pollstableborder td{font:normal 0.9em/1.4em Arial;}
form.polls ul li{padding:3px 5px;}
form.polls li.sectiontableentry1{background:#ddd;}

/* search results
****************************/
#primary-content ol.search-results li{font:italic 1.5em Georgia,Times,serif;color:#CCC;border-bottom:1px dotted #CCC;}
#primary-content ol.search-results li a{font:italic 1em Georgia,Times,serif;}
#primary-content ol.search-results li p{font:normal 0.7em/1.5em Georgia,Times,serif;color:#888;}
.search-section{font:normal 0.7em Georgia,Times,serif;color:#888;}
#primary-content .search-info{background:#1F2323;border-bottom:3px solid #191919;}
.search-counter{background:#171717;border:1px solid #222222;}
.searchintro span{color:#999;}


#top-link{display:none;position:fixed;right:5px;bottom:5px;color:green;font-weight:bold;text-decoration:none;border:1px solid green;background:#90EE90;padding:10px;}
.internetexplorer6 #top-link,.internetexplorer7 #top-link{height:1.5%;}