.mod-basic{border:1px solid #ccc;background:#eee;padding:.8em;margin:0 0 1em 0;float:none;}
.mod-fx{margin:0 0 1em 0;padding:0;background:#eee;}
.mod-fx .modinner{padding:1em;border:1px solid #fff;}
.mod h3{font-size:1.4em;margin:0;}
#user1{margin:0 0 1em 0;overflow:hidden;float:none;width:100%;clear:both;}

#user1{margin:0 0 1em 0;}
#user2{clear:both;background:#eee;border:1px solid #ccc;}
#user2 #user2-inner{padding:1em;overflow:hidden;border: 1px solid #fff;}
#user1 .mod{margin:0;padding:0;}
#user1 .yui-u{margin-left:1.670%;}
#user1 .first{margin-left:0;}
#toolbar-wrap{background:#eee;border-bottom:1px solid #ccc;}
#toolbar{margin:0 auto;padding:0;}
#toolbar div{margin:0;padding:1em 0;height:100%;}
#toolbar p{margin:0;padding:0;}
#toolbar .mod{background:none;padding:0;margin:0;color:#666;}
#top2 .bannergroup{float:right;margin-top:2em;}
#inset1,#inset2,#inset3,#inset4{margin-bottom:1em;}

#inset1 .mod-basic,
#inset2 .mod-basic,
#inset3 .mod-basic,
#inset4 .mod-basic{border:1px solid #ccc;width:auto;}


#inset4{clear:both;}
.noborder{border:0!important}

/* setting the foreground color of mod styles with a dark background color */
body .mod.bgstyle-15,
body .mod.bgstyle-16,
body .mod.bgstyle-17,
body .mod.bgstyle-18,
body .mod.bgstyle-19{
color: #fff;
}
/* setting the foreground color of mod headings with a dark background color */
body .mod.h3style-14 h3,
body .mod.h3style-15 h3,
body .mod.h3style-16 h3,
body .mod.h3style-17 h3,
body .mod.h3style-18 h3,
body .mod.h3style-19 h3{
color: #fff;
}

#secondary-content .mod.yui-u,
#tertiary-content .mod.yui-u{
width: 99%;
clear:both;
float:none;
}


#bd .tabs .ui-tabs .ui-tabs-nav.ui-helper-reset,
#bd .tabs .ui-tabs .ui-tabs-nav li.ui-state-default{
margin:0;
padding:0;
list-style:none;
background:none;
}
#bd .tabs .ui-tabs .ui-tabs-nav li.ui-state-default{
margin-right:2px;
}
#bd .tabs .ui-tabs .ui-tabs-nav li.ui-state-default.ui-tabs-selected{
margin-bottom:0;
border-bottom:0;
background:#eee;
border-bottom: 1px solid #eee;
}