/*----------------------------------------------------------------------------
++ JoomlaJunkie Joomla CSS
++ All Joomla! specific styling is kept here.
----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------
++ JoomlaJunkie Joomla CSS
++ All Joomla! specific styling is kept here.
++ !!Important - This is the master file and should not be modified
++ you must use the joomla.css file in the themelet you are working on
----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------
++ joomla css
----------------------------------------------------------------------------*/
/* frontend editing mode
*****************************************/
#bd.editmode #secondary-content,
#bd.editmode #tertiary-content{display:none;}
#bd.editmode #yui-main,
#bd.editmode #yui-main .yui-b,
#bd.editmode #yui-main table{width:100%;margin-left:0;float:none;}

/* article info
****************************/
#primary-content .article-options,
#primary-content .article-options li{margin:0;margin:0 1.2em 0 0;overflow:hidden;list-style:none;}
#primary-content .article-options{margin:.5em 0 1em 0;}
#primary-content .article-options li{float:left;}
#primary-content .article-options li.pdf,
#primary-content .article-options li.email,
#primary-content .article-options li.print{float:right;padding:0 0 0 5px;margin:0;}
#primary-content .article-options li.author,
#primary-content .article-options li.created,
#primary-content .article-options li.modified{background:transparent url(../images/article-icons.png) no-repeat;display:block;height:20px;line-height:20px;font-size:0.9em;padding:0 0 0 20px;}
#primary-content .article-options li.author{background-position: top left;}
#primary-content .article-options li.created{background-position: center left;}
#primary-content .article-options li.modified{background-position: bottom left;}
.content{clear:both;overflow:hidden;}
.content p{margin-bottom:1em;}
.article-body p.teaser{margin-top:1em;}
.article-main{padding-bottom:2em;}
table.pagenav{clear:both;}

/* breadcrumbs
*****************************/
#primary-content .pathway,#primary-content .pathway li{margin:0;padding:0;list-style:none;background:none;}
#primary-content .pathway{font-size:1em;overflow:hidden;}
#primary-content .pathway li{background:transparent url(../images/pathway.png) no-repeat scroll 100% 50%;display:block;float:left;margin-right:10px;padding-right:15px;}
#primary-content .pathway a:link,#primary-content .pathway a:visited{font-size:1em;text-decoration:underline;}
#primary-content .pathway li.pathway-current{background:none;}

/* pagination
****************************/
.pagination-counter,.pagination-links{display:block;clear:both;width:100%;}
.pagination-counter{text-align:center;margin:1em 0 0 0;}
#primary-content .pagination{margin-bottom:2em;display:block;height:30px;}
.pagination-links{margin-top:1em;}
.pagination-links .pagination li{display:inline;padding:2px 3px;margin:0 3px;}
.article_separator.last{display:none;}

/* table of contents
****************************/
table.contentpane,table.contentpane td{border:0;padding:0;margin:0;}
#primary-content .contenttoc{margin-left:1em;width:auto;float:right;}

/* system messages
****************************/
dl#system-message{padding:1em;margin-bottom:1em;}
dl#system-message dt.error{font-size:1.5em;}
dl#system-message dd.error{font-size:1.2em;}
dl#system-message dd.error ul{margin:0;list-style:none;}
dl#system-message dd.error ul li{margin:0;list-style:none;color:#000;}
#primary-content #system-message dt{background: none;}

/* readon links
****************************/
a.readon{padding:6px 12px;margin:9px 0 5px;display:inline-block;}
a.readon:hover{color:#fff;}

/* search results
****************************/
#primary-content ol.search-results{list-style:lower-roman;margin:0 1em 0 3.8em;padding:0;}
#primary-content ol.search-results li{list-style:lower-roman;margin-bottom:1em;padding-bottom:0.5em;}
#primary-content ol.search-results li a{text-decoration:none;}
#primary-content ol.search-results li p{margin-bottom:1em;}
.search-section{padding:0.5em 0;display:block;}
.search-description{font-size:0.8em;}
#primary-content .pagination li{display:inline;}
#primary-content .search-info{overflow:hidden;margin:0 0 1em;padding:0.5em;list-style:none;line-height:3em}
#primary-content .search-info li{list-style:none;margin:0;padding:0 10px;}
.search-counter{float:left;font-size:1.1em;}
.search-limit{float:right;}
.searchintro{font-size:1.2em;margin:1em 0;}
.searchintro span{}

/* blog view
****************************/
#primary-content ul.blogview-info{margin:-0.6em 0 0.8em;padding:0 0 0.5em;list-style:none;overflow:hidden;}
#primary-content ul.blogview-info li{list-style:none;font-size:0.9em;float:left;}
.blog .article_separator{border:0;display:none;}
#primary-content ul.blogview-info li.last{border-right:0;}
#primary-content ul.blogview-info li.btn-pdf,#primary-content ul.blogview-info li.btn-email,#primary-content ul.blogview-info li.btn-print{float:right;}
.article_row{width:100%;float:left;}
.blog .column1{float:left;padding:1em 1.5em 0 0;}
.blog .column2{float:right;padding:1em 0 0;}
.cols2{width:47%;vertical-align:top;}
.blog_more{padding-top:1em;display:block;clear:both;}
.blog{overflow:hidden;}
.blog .featured{padding:1em 1em 0.3em;margin-bottom:2em;}
.blog .featured .article_separator{}
.blog .featured h2,.blog .featured h2 a{display:block;}
.article_column{float:left;}
.article_separator{margin-top:2.2em;height:2px;display:block;}
.column_separator{padding-left:1em;margin-left:1em;float:left;}
.contentdescription p {color:#999;font: normal 20px/28px arial;margin:0;}

/* joomla default table styles
****************************/
#primary-content tr.sectiontableentry1 td,#primary-content tr.sectiontableentry2 td,#primary-content tr td.sectiontableentry1,#primary-content tr td.sectiontableentry2{text-indent:5px;padding:10px 0 0 0;}
#primary-content .sectiontableentry1 a,#primary-content .sectiontableentry2 a{}
#primary-content .sectiontableheader a{}
#primary-content .sectiontableheader{text-align:left;font-size:1.3em;font-weight:bold;height:30px;}
#primary-content table td.sectiontableheader{border:none;}
td.sectiontableentry1 input,td.sectiontableentry2 input{margin-top:4px;}

/* polls*/
#bd .poll{width:100%;margin:0;padding:0;}
#bd .poll,#bd .poll tr,#bd .poll td{border:0;}
table.pollstableborder{margin:0.5em 0 1em;width:100%;}
#tertiary-content .pollstableborder td{padding:0.1em 0.2em;}
#bd .pollstableborder td input{margin-top:4px;}
.polls_color_1{background-color:#8D1B1B;border:2px solid #B22222;}
.polls_color_2{background-color:#6740E1;border:2px solid #4169E1;}
.polls_color_3{background-color:#8D8D8D;border:2px solid #D2D2D2;}
.polls_color_4{background-color:#CC8500;border:2px solid #FFA500;}
.polls_color_5{background-color:#5B781E;border:2px solid #6B8E23;}
#primary-content table.pollstableborder tbody td{margin:0;padding:0;}
.polls_color_1,.polls_color_2,.polls_color_3,.polls_color_4,.polls_color_5{padding:5px;margin:2px;}
#secondary-content .polls h4,#tertiary-content .polls h4{margin: 0 0 5px 0;}

.author,.created,.modified{color:#888;}
.article-body p.teaser{font:1.6em/1.4em "Helvetica Neue",Helvetica,arial,sans-serif;color:#888;}
.pagenavcounter{color:#888;}
.blog_more .more-link{margin:0 0 .5em 0;font-size:1.4em;}

/* headings */
.componentheading{border-bottom:4px solid #ddd;margin:0.6em 0;padding-bottom:0.4em;font-size:2em;}
h1.contentheading{margin:.5em 0 0 0;padding:0;}

/* article separator */


/* pagination */
.pagination-counter{color:#888;}
.pagination-links .pagination li{color:#666;border-bottom:1px solid #ccc;border-left:1px solid #ddd;border-top:1px solid #ccc;border-right:1px solid #ddd;}
.pagination-links .pagination li a{color:#6CADBE;}

/* table of contents */
#primary-content .contenttoc{background:#1F2323;}

/* system messages */
dl#system-message{border:5px solid #AF2F15;background:#FFD39F;}
dl#system-message dt.error{color:#AF2F15;}

/* readon links */
a.readon{background:#eee;color:#666;}
.readon:hover{background:#6CADBE;}

/* search results */
#primary-content ol.search-results li{font:italic 1.5em Georgia,Times,serif;color:#CCC;border-bottom:1px dotted #CCC;}
#primary-content ol.search-results li a{font:italic 1em Georgia,Times,serif;}
#primary-content ol.search-results li p{font:normal 0.7em/1.5em Georgia,Times,serif;color:#888;}
.search-section{font:normal 0.7em Georgia,Times,serif;color:#888;}
#primary-content .search-info{background:#1F2323;border-bottom:3px solid #191919;}
.search-counter{background:#171717;border:1px solid #222222;}
.searchintro span{color:#999;}

/* blog view */
#primary-content ul.blogview-info{border-bottom:5px solid #eee;}
#primary-content ul.blogview-info li{color:#999;}
.article_row{border-bottom:1px solid #eee;}
.blog .featured{border-top:5px solid #e;background:#E1E1E1;}
.article_separator{border-top:1px solid #ccc;}
.column_separator{border-left:1px solid #ccc;}

/* joomla default table styles */
#primary-content .sectiontableentry1 a,#primary-content .sectiontableentry2 a{}
#primary-content .sectiontableheader a{}
#primary-content .sectiontableheader{background:transparent url(../images/table-header-bg.png) repeat-x scroll 0%;color:#FFFFFF;}

/* polls */
#tertiary-content .pollstableborder td{font:normal 0.9em/1.4em Arial;}
.featured h2.contentheading{/*float:left;background:red;*/}
.featured ul.article-options{/*float:right;background:orange;overflow:hidden;*/}
#primary-content p.article-info{margin:0;padding:0;}
#primary-content .article-info span{display:inline;}
form.polls ul li{padding:3px 5px;}
form.polls li.sectiontableentry1{background:#ddd;}
form.polls li.sectiontableentry2{}

/* text link ads */
h4.bannerheader,form.polls h4{margin:0;font-size:14px;font-weight:bold;color:#999;}