/*-------------------------------------------------------------------------
++ JoomlaJunkie - Typography CSS
++ All Typographical styling is kept here
---------------------------------------------------------------------------*/
html{color:#fff;background:#F3F3F3;}
body{font:13px/1.231 arial,helvetica,clean,sans-serif;background:#F3F3F3;color:#333;}
p{margin-bottom:1em;line-height:1.7em;}

/* heading styles
*****************************************/
h1,h2,h3,h4,h5,h6{margin:1em 0;}
h1{font-size:2em;clear:both;line-height:1.2em;}
h2{font-size:1.8em;}
h3{font-size:1.6em;}
h4{font-size:1.5em;}
h5{font-size:1.2em;font-weight:bold;}
h6{font-size:1em;font-weight:bold;}
h1 a,h2 a{text-decoration:none;}
h2 a:hover{text-decoration:underline;}

/* links styling
*****************************************/
a:link,a:visited{text-decoration:none;color:#6CADBE;}
a:hover{text-decoration:underline;}
a:hover,a:active{text-decoration:underline;}

/* lists styling
****************************************/
ul,ol{margin-left:1em;}
#primary-content ul,#primary-content ol{margin:0 0 1.5em 3em;}
#primary-content ul li{list-style:circle;}
#primary-content ol li{list-style:decimal;}
#primary-content dl dt{font-weight:bold;}
#primary-content dl dd{margin-bottom:1em;}
#primary-content dl.listVertical dt{background:#ccc;font-weight:bold;padding:.2em .4em;}
#primary-content dl.listVertical dd{margin-bottom:1em;padding:.2em .4em;}
#primary-content dl.zebra dt{padding:0.2em 0.5em;}
#primary-content dl.zebra dd{background:#eee;margin-bottom:0;padding:0.2em 0.5em;}
#primary-content dl.listHorizontal{border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;overflow:hidden;}
#primary-content dl.listHorizontal dt{background:#ddd;border-right:1px solid #ccc;border-bottom:1px solid #ccc;display:block;width:49.86%;padding:4px 0;float:left;text-indent:5px;}
#primary-content dl.listHorizontal dd{margin:0;background:#eee;border-bottom:1px solid #ccc;float:left;display:block;width:50%;text-indent:5px;padding:4px 0;}
#primary-content ol.fancyOL{font:italic 1.2em/0.2em Georgia,Times,serif;color:#444;margin:1.5em 3em 2em;}
#primary-content ol.fancyOL li{margin:0;}
#primary-content ol.fancyOL li p{margin:0;}

/* tables styling
****************************************/
#primary-content table.tbl-style1{border-left:1px solid #ccc;border-top:1px solid #ccc;background:#fff;margin:1em 0;}
#primary-content table.tbl-style1 caption{color:#999;text-align:left;font-weight:bold;font-size:15px;padding-bottom:5px;}
#primary-content table.tbl-style1 th{background:#ddd;border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding:2px 5px;text-align:left;}
#primary-content table.tbl-style1 tr.alt{background:#eee;}
#primary-content table.tbl-style1 td{border-right:1px solid #ccc;border-bottom:1px solid #ccc;}

/* remove tables styling - use class nostyle
****************************************/
#primary-content table.nostyle,#primary-content table.nostyle tr.alt{background:none;}
#primary-content table.nostyle td,#primary-content table.nostyle tr.alt,#primary-content table.nostyle{border:none;}
#primary-content table td{padding:2px 5px;}

/* quotes,blockquotes & code
****************************************/
#primary-content pre,#primary-content .code{overflow:auto;background:#eee;border-top:1px solid #ccc;border-bottom:1px solid #ccc;margin:10px 0px 15px;padding:1em 1em 1em 2em;}
#primary-content blockquote{background:#eee;font:normal 1.5em/1.4em Georgia,Times,serif;padding:1em 40px 1em 15px;}
#primary-content blockquote.quote{padding:1em;}
blockquote{margin:1em 0;padding:20px 20px 0;}
blockquote p{margin-bottom:0;}
#primary-content .left-pullquote,#primary-content .right-pullquote{background:#CA6623;color:#fff;font:normal 1.5em/1.2em Georgia,Times,serif;width:200px;padding:20px;color:#FFF;margin:1em;}
#primary-content .left-pullquote{float:left;margin-right:1.5em;}
#primary-content .right-pullquote{float:right;margin-left:1em;}
#primary-content .quote-author{background:#ddd;border-top:1px solid #ccc;margin:20px -19px -20px -20px;padding:0.5em 1em;font-size:0.7em;text-align:right;font-weight:bold;}
#primary-content .quote-author a{color:#666;}

/* dropcap
****************************************/
.dropcap{color:#888;font:55px/40px Georgia,Times,serif;display:block;float:left;padding:4px 8px 0 0;}
q{background:#6CADBE;border-bottom:1px dotted #BDE5F1;color:#fff;font-weight:bold;font-style:oblique;padding:5px;}

/* alerts
****************************************/
p.error,p.tips,p.info{display:block;padding:8px 10px 8px 35px;margin:15px 0;}
p.error{color:#CD3301;border-top:3px solid #CD3301;border-bottom:3px solid #CD3301;background:#FAE8E8 url(../images/icon-typo-error.jpg) no-repeat 10px 50%;}
p.tips{color:#2D84E3;border-top:3px solid #ADCEFB;border-bottom:3px solid #ADCEFB;background:#ECF2FE url(../images/icon-typo-tips.jpg) no-repeat 10px 50%;}
p.info{color:#CA6701;border-top:3px solid #F2A378;border-bottom:3px solid #F2A378;background:#FDF6E4 url(../images/icon-typo-info.jpg) no-repeat 10px 50%;}
p.color-green,p.color-blue,p.color-orange,p.color-pink,p.color-grey{display:block;padding:8px 10px;margin:15px 0;}
p.color-green{border-top:3px solid #98CB00;border-bottom:3px solid #98CB00;background:#FFFFFF;color:#010101;}
p.color-blue{border-top:3px solid #7DB6FB;border-bottom:3px solid #7DB6FB;background:#ECF2FE;color:#010101;}
p.color-orange{border-top:3px solid #F18B41;border-bottom:3px solid #F18B41;background:#FDF6E4;color:#010101;}
p.color-pink{border-top:3px solid #D5688F;border-bottom:3px solid #D5688F;background:#FAE8E8;color:#010101;}
p.color-grey{border-top:3px solid #CCCCCC;border-bottom:3px solid #CCCCCC;background:#FAFAFA;color:#010101;}
/* system notices */
#primary-content #system-message *{color:#000;margin:0;padding:0;}
#primary-content #system-message{margin:1em 0;overflow:hidden;font-size:1.5em;}
#primary-content #system-message dt{float:left;margin-right:.6em;}
#primary-content #system-message dd{float:left;}
#primary-content #system-message dd li{list-style:none;}

/* highlight text
****************************************/
#bd .highlight{background:#6CADBE;color:#fff;font-weight:bold;padding:1px 5px;}

/* image alignment
****************************************/
.img-left{margin:0.3em 1em 0 0;}
.img-right{margin:0.3em 0 0 1em;}
.img-left,.img-right{background:#fff;border:4px solid #ccc;padding:1px;}

/* vertical dividers
****************************************/
hr{margin:2em 0;border:0;height:2px;border-bottom:1px solid #ccc;}

/* image captions
****************************************/
#primary-content .caption-top,.caption-bottom{color:#fff;padding:1.2em;font-weight:bold;font-size:13px;font-family:arial;cursor:default;border:0px solid #334143;background:#000000;}
#primary-content .caption-top{border-width:0px 0px 8px 0px;}
#primary-content .caption-bottom{border-width:8px 0px 0px 0px;}
#primary-content .caption a,.caption a{border:0 none;text-decoration:none;background:#000000;padding:0.3em;}
#primary-content .caption a:hover,.caption a:hover{background:#202020;}
#primary-content .caption-wrapper{float:left;}
#primary-content br.c{clear:both;}

/* form elements
****************************************/
.button{padding:3px 2px;margin:0;display:inline-block;border:none;cursor:pointer;}
#navbar-container .button{padding:2px 12px;width:52px;}
#navbar-container .inputbox{width:113px;}
.inputbox{font-size:1.1em;padding:0.2em 0.1em 0.2em 0.4em;}
select option{background:#ccc;}
#navbar-container .inputbox{background:#e3e3e3;}
.inputbox{border: 1px solid #fff;}
.button{background:#ccc;color:#333;}
.button:hover{background:#eee;}
.inputbox{color:#333;}
select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;background:#e3e3e3;border:1px solid #ccc;color:#333;}

/* reusable classes
****************************************/
.nopadding{margin: 0;}
.clear{}
.first{}
.last{}
.reset{}