/* frontend dev bar
******************************************************/

#dev-toolbar{font-family:arial;position:fixed;z-index:9999;background:#111;border-bottom:4px solid #000;width:100%;display:block;}

#dev-toolbar ul,
#dev-toolbar li{list-style:none;margin:0;padding:0;}

#dev-toolbar ul{margin:0 auto;color:#999;overflow:hidden;}
#dev-toolbar li{height:30px;line-height:30px;float:left;padding:0 0 0 1.5em;}

#dev-toolbar .dev-label{font-weight:bold;color:#555;text-transform:uppercase;padding:0 1em;}

/* css packing */
#dev-toolbar .dev-css{}
#dev-toolbar .dev-unpack-css{}
#dev-toolbar .dev-pack-css{}

/* js packing */
#dev-toolbar .dev-js{}
#dev-toolbar .dev-unpack-js{}
#dev-toolbar .dev-pack-js{}

/* module outline */
#dev-toolbar .dev-modules{}
#dev-toolbar .dev-debug-mods-on{}
#dev-toolbar .dev-debug-mods-off{}

/* gzip */
#dev-toolbar .dev-gzip{}
#dev-toolbar .dev-gzip-off{}
#dev-toolbar .dev-gzip-on{}

/* firebug lite */
#dev-toolbar .dev-fb{}
#dev-toolbar .dev-fb-on{}
#dev-toolbar .dev-fb-off{}

#dev-toolbar a{color:#fff;background:#555;padding:.1em .5em;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;text-decoration:none;}
#dev-toolbar a:hover {background:#d2d2d2;color:#333;text-decoration:none;}
#dev-toolbar a:focus{outline:0;background:#fff;color:#555;}