#secondary-content,
#tertiary-content{display:none;}
#bd #primary-content{width:100%;}
#bd #primary-content .primary-inner{border:0;padding:0;}
#editor-top{margin-bottom:1em;}
#editor-top label{font-size:1.3em;}
#editor-top .editor-title{padding:5px;width:80%;}
#editor-top button{padding:4px;margin-left:5px;}
#yui-main .yui-b{margin:0!important;}
#yui-main .yui-u{width:100%;}
#edit-content fieldset{margin-bottom:1em;padding:1em;}
#edit-content h2{font-size:1.5em;padding:.5em .6em;margin:0 0 1px 0;}
#edit-content #publishing ul{margin:0;padding:0;}
#edit-content img.calendar{border:0;position:relative;top:3px;left:5px;}
#edit-content select,
#edit-content input,
#edit-content textarea{margin:0;padding:0;}
#edit-content input{padding:2px;}
#edit-content textarea{padding:5px;}
#edit-content #publishing li{position:relative;margin:0;padding:5px 0 5px 150px;list-style:none;}
#edit-content #publishing li.last{border-bottom:0;}
#edit-content #publishing .label{position:absolute;top:8px;left:0;}
#edit-content .button2-left{float:left;padding:1px;margin:.8em .7em 0 0;}
#edit-content .button2-left a{float:left;font-size:.9em;padding:2px 5px;text-decoration:none;}
#edit-content .button2-left a:hover{text-decoration:none;}
#edit-content #access{width:15em;overflow:hidden;}
#edit-content #access option{background:none;}
#edit-content #ordering option{font-size:.9em;}
#edit-content #created_by_alias{width:17em;}
#edit-content #meta textarea{width:99%;margin-bottom:.5em;}
#edit-content #meta #metadesc{margin-bottom:1em;}
#edit-content #editor textarea#text{width:99%!important;}