/*----------------------------------------------------------------------------
++ joomlajunkie ie6 & ie7 fixes
++ keeping all ie6 & ie7 specific fixes here.
----------------------------------------------------------------------------*/
.yui-t3 .yui-b{width:22.5em;}
.yui-t3 #yui-main .yui-b{margin-left:23em;}
.doc,.doc2,.doc3,.doc4,.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,.yui-t7{width:56.25em;}
.doc2{width:71.25em;}
.doc4{width:73.05em;}
.yui-t8,.yui-t9{width:56.25em;}
.yui-t8 .yui-b{width:15.0003em;}
.yui-t9 .yui-b{width:15.0003em;}
.yui-t8 #yui-main .yui-b{margin-left:16.0003em;}
.yui-t9 #yui-main .yui-b{margin-right:16.0003em;}
#ie6Warning{background:#990000;padding:.5em 1em 1em 1em;border-bottom:1px solid #E84136;}
#ie6Warning h2,#ie6Warning p{margin:0;padding:0;color:#fff;font-family:arial;}
#ie6Warning h2{font-size:1.4em;padding-bottom:.3em;}
#ie6Warning p{line-height:1.2em;width:780px;margin:0 auto;}
#ie6Warning p a{color:#FFCC66;}