/*[fmt]9A90-1A0A-3*/
/*@group search module styling*/
.internetexplorer60 #topnav .search .search-input	{
	width: 10em;
	margin: 0;
	padding: 0.25em;
}
/*default menu*/
.internetexplorer60 #topnav .search	{
	margin: 0.48em 0;
	float: right;
	padding: 0 0.48em;
}
/*subtext menu*/
.internetexplorer60 #topnav.subtext .search	{
	margin: 1.12em 0;
	padding: 0 1.12em;
}
/*topdrop menu*/
.internetexplorer60 #topnav.topdrop .search	{
	margin: 0.6em 0;
	padding: 0 0.6em;
}
/*subtext topdrop*/
.internetexplorer60 #topnav.topdrop.subtext .search, .internetexplorer60 #topnav.topfish.subtext .search	{
	margin: 1.15em 0;
	padding: 0 1.12em;
}
.internetexplorer60 #topnav .search input.search-input	{
}
/*@end*/
.yui-gb .yui-u	{
	width: 32.34%;
}
/*old ie6 styles - needs cleaning

#user1.intelli.yui-gb .moduletable{margin:20px 5px 5px;}

#user1 .jjmod.moduletable{height:100%;}

#inset1.intelli.yui-gb .moduletable{margin:0 5px 5px;display:inline;}

.module,.module-sfx,.module_menu,.module_text{height:1%;}

#jjBtmShelf .moduletable,#jjUser1 .moduletable{margin:0;margin-top:20px;margin-bottom:20px;}

hr{margin:1em 0;padding:0;border:none;background-image:none;color:#111;height:1px;}

#branding{height:1%;}

.yui-t1 #yui-main .yui-b.no-left,.yui-t2 #yui-main .yui-b.no-left,.yui-t3 #yui-main .yui-b.no-left,.yui-t4 #yui-main .yui-b.no-left,.yui-t5 #yui-main .yui-b.no-left,.yui-t6 #yui-main .yui-b.no-left,.yui-t7 #yui-main .yui-b.no-left,.yui-t8 #yui-main .yui-b.no-left,.yui-t9 #yui-main .yui-b.no-left{margin-left:0;}

#bottom{height:1%;clear:both;}*/
#branding	{
	float: none;
	display: inline;
}

#top-link{display:inline-block;}
#footer .footer-validation, #footer .footer-credits	{
	float: right;
	clear: both;
}
#footer .footer-credits	{
	width: 39%;
}
#footer .footer-menu ul	{
	padding: 0;
}
#footer .footer-copyright	{
	clear: left;
	width: 100%;
}
#footer.swish ul#footer-links	{
	padding: 0.5em 0 0em;
}

#top-link{position: absolute; }

/* Joomla CSS */
 
.internetexplorer60 .blog .cols2 {width:46%;display: inline;}

/* menu adjustments */

.internetexplorer60 .sf-sub-indicator{background:url('../../../../morph_assets/themelets/vanilla/images/arrows-ffffff.gif') no-repeat -10px -100px;}

/* @group joomla fixes */

.article-info {
	height: 1%;
}

#breadcrumbs {
	display: inline-block;
}

/* @group article font-sizer */

.ldisabled,.sdisabled{opacity:0.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity = 30);}
