body,html{background:#fff;color:#000;font:normal 13px/16px arial;}
h1{font-size:30px;line-height:40px;margin:0 0 20px 0;}
h2{font-size:20px;line-height:30px;margin:0 0 20px 0;}
a,a:visited,a:link{color:#000;}
.article_column{width:100%!important;}
.article-options,.pagination-links.author,.created{font-weight:bold;color:#666;}
.modified{color:#999;}
#article-content .teaser,#article-content p,#primary-content p {color:#000;font:normal 15px/20px arial!important;}
#bd{border:0;width:100%;margin:0;padding:0;}
.article-info,.filing,.pagination-links,#masthead,#toolbar-wrap,#subhead,#topnav,#topshelf,#bottomshelf,#user1,#user2,
#breadcrumbs,#secondary-content,#tertiary-content,#pagenav,#shareit-box,#footer{display:none!important;}
#yui-main .yui-b{margin:0!important;}
#global-wrap{border:0;}