.mod{overflow:hidden;}
.mod-basic{border:1px solid #000;background:#111617;padding:.8em;float:none;}
.mod h3{font-size:1.4em;margin:0;}
#secondary-content .mod.first,
#tertiary-content .mod{width:100%;clear:both;float:none;}
#toolbar-wrap{background:#000;border-bottom:1px solid #111;}
#toolbar{margin:0 auto;padding:0;}
#toolbar div{margin:0;padding:1em 0;height:100%;}
#toolbar p{margin:0;padding:0;}
#toolbar .mod{background:none;padding:0;margin:0;color:#666;}
#toolbar-wrap{background:#000;}
#top2 .bannergroup{float:right;margin-top:2em;}
#inset1,#inset2,#inset3,#inset4{border:1px solid #000;margin-bottom:1em;}
#inset1 .mod-basic,#inset2 .mod-basic,#inset3 .mod-basic,#inset4 .mod-basic{border:1px solid #222;background:#111617;width:auto;}
#inset4{clear:both;}
.mod-fx{margin:0 0 1em 0;padding:0;border:1px solid #000;background:#111617;}
.mod-fx .modinner{padding:1em;border-left:1px solid #1A2022;border-right:1px solid #1A2022;}

/* user1 + user2 defaults */
#user1,#user2{overflow:hidden;float:none;width:100%;clear:both;}

/* user1 - double border */
#user1 .mod-fx{border:0;padding:0;background:none;}
#user1 .mod-fx.first{margin-left:0;}
#user1 .modinner{padding:0;margin:0;border:1px solid #000;}
#user1 .extra-border{border:1px solid #1A2022;background:#111617;padding:1em;}
#user1 .mod-fx.modcount3{width:32.4%;margin-left:1em;}
#user1.custom1 .mod{margin-bottom:1em;}

/* user2 - general styling */
#user2{background:#111617;border:1px solid #000;}
#user2-inner{padding:1em;border:1px solid #1A2022;overflow:hidden;}
/* user2 - double border */
#user2 .mod-fx{border:0;padding:0;background:none;}
#user2 .modinner{padding:0;margin:0;border:1px solid #000;}
#user2 .extra-border{border:1px solid #1A2022;background:#111617;padding:1em;}