/*----------------------------------------------------------------------------
++ Menu Styling
++ This file contains all menus core css - excludes superfish and superdrop
----------------------------------------------------------------------------*/

/* menu assigned to "toolbar"
****************************************/
#toolbar ul.menu{margin:0;}
#toolbar ul.menu li{display: inline;padding-right:13px;}
#toolbar ul.menu li a{font-size:0.9em;}

/* menu assigned to "top"
****************************************/
#top ul{float:right;overflow:hidden;padding:0.8em 0;}
#top li{float:left;margin-left:.2em;display:block;}
#top ul li a{display:block;float:left;text-decoration:none;padding:.3em .7em;}
#top ul li a:hover{}

/* top horizontal navigation - module
****************************************/
/*#topnav{border: 1px solid #000;}
#nav ul.menu{margin:0;padding:0;float:left;height:1%;}
#nav ul.menu li{border-right:1px solid #000;list-style-type:none;display:inline-block;margin:0;padding:0;}
#nav ul.menu li a{text-decoration:none;white-space:nowrap;font-size:1.05em;padding:18px 13px 21px;display:block;border-top: 1px solid #222;border-left: 1px solid #222;}
#nav ul.menu li ul li a{text-transform:none;padding:10px;font-size:1em;}
#nav ul.menu li span.separator{text-decoration:none;white-space:nowrap;font-size:1.05em;padding:18px 13px 21px;display:block;}*/
#nav .menu .active{background:#0F0F0F;}
#topnav{background:#111617;}

/* top menu call for action link
****************************************/
#topnav.subtext #nav ul.menu{width:100%;border-right:0;}
#topnav.subtext #nav ul.menu li.action-link{float:right;border:0;border-left:1px solid #000;padding:0;margin:0;}
#topnav.subtext #nav ul.menu li.action-link a{border:0;border-left:1px solid #6F0E12;border-top:1px solid #6F0E12;background:#3F0001;padding:1.2em 1em .8em 1em;margin:0;color:#fff;}
#topnav.subtext #nav ul.menu li.action-link a .mainmenu_item{font-weight:bold;}
#topnav.subtext #nav ul.menu li.action-link a:hover span{color:#DB1B23;}

/* top horizontal navigation - superfish
****************************************/
#nav .menu,
#nav .menu *{margin:0;padding:0;list-style:none;}
#nav .menu{line-height:1;}
#nav .menu ul{position:absolute;top:-999em;}
#nav .menu ul li{width:100%;}
#nav .menu li:hover{visibility:inherit;}
#nav .menu li{float:left;position:relative;}
#nav .menu a{display:block;position:relative;}
#nav .menu li:hover ul,
#nav .menu li.sfHover ul{left:0;top:3.1em;z-index:99;}
#nav .menu.subtext li:hover ul,
#nav .menu.subtext li.sfHover ul{left:0;top:4.8em;z-index:99;}
#nav .menu li:hover li ul,
#nav .menu li.sfHover li ul{top:-999em;}
#nav .menu li li:hover ul,
#nav .menu li li.sfHover ul{left:13em;top:0;}
#nav .menu.subtext li li:hover ul,
#nav .menu.subtext li li.sfHover ul{left:14em;top:0;}
#nav .menu li li:hover li ul,
#nav .menu li li.sfHover li ul{top:-999em;}
#nav .menu li li li:hover ul,
#nav .menu li li li.sfHover ul{left:14em;top:0;}
#nav .menu a.sf-withul{padding-right:2.25em;min-width:1px;}
#nav span.sf-sub-indicator{position:absolute;display:block;right:0.75em;top:1.05em;width:10px;height:10px;text-indent:-999em;overflow:hidden;}
#nav ul.menu .sf-sub-indicator{right:50%;margin-top:28px;}
#nav ul.menu.subtext .sf-sub-indicator{right:50%;margin-top:38px;}
#nav ul.menu.menu li ul li a .sf-sub-indicator{right:0.5em;margin-top:0px;}
#nav a>.sf-sub-indicator,
#nav li>span.sf-sub-indicator{top:0.8em;background-position:0 -100px;}
#nav a:focus>.sf-sub-indicator,
#nav a:hover>.sf-sub-indicator,
#nav a:active>.sf-sub-indicator,
#nav li:hover>a>.sf-sub-indicator,
#nav li.sfHover>a>.sf-sub-indicator{background-position:-10px -100px;}
#nav .menu ul .sf-sub-indicator{background-position:-10px 0;}
#nav .menu ul a>.sf-sub-indicator{background-position:0 0;}
#nav .menu ul a:focus>.sf-sub-indicator,
#nav .menu ul a:hover>.sf-sub-indicator,
#nav .menu ul a:active>.sf-sub-indicator,
#nav .menu ul li:hover>a>.sf-sub-indicator,
#nav .menu ul li.sfHover>a>.sf-sub-indicator{background-position:-10px 0;}

/* superfish subchild indicators
****************************************/
/* set the second level child item indicator */
#nav .menu li li.parent a,
#nav .menu li li.parent span.separator{
background: transparent url(../images/subchild.gif) no-repeat 96% 50%;
}
/* remove it from descendant anchors */
#nav .menu li li.parent li a,
#nav .menu li li.parent li span.separator{
background: none;
}
/* set the third level child item indicator */
#nav .menu li li li.parent a,
#nav .menu li li li.parent span.separator{
background: transparent url(../images/subchild.gif) no-repeat 96% 50%;
}
/* remove again from descendant anchors */
#nav .menu li li li.parent li a,
#nav .menu li li li.parent li span.separator{
background: none;
}


/* top horizontal navigation - superdrop
****************************************/
/*** adding the class sf-navbar in addition to sf-menu creates an all-horizontal nav-bar menu ***/
.sf-navbar{position:relative;}
.sf-navbar li{position:static;}
.sf-navbar a{border-top:none;}
.sf-navbar li ul{width:44em;/*IE6 soils itself without this*/}
.sf-navbar li li{position:relative;}
.sf-navbar li li ul{width:13em;}
.sf-navbar li li li{width:100%;}
.sf-navbar ul li{width:auto;float:left;}
.sf-navbar a,.sf-navbar a:visited{border:none;}
.sf-navbar li.current{}
.sf-navbar li:hover,
.sf-navbar li.sfHover,
.sf-navbar li li.current,
.sf-navbar a:focus,.sf-navbar a:hover,.sf-navbar a:active{}
.sf-navbar ul li:hover,
.sf-navbar ul li.sfHover,
ul.sf-navbar ul li:hover li,
ul.sf-navbar ul li.sfHover li,
.sf-navbar ul a:focus,.sf-navbar ul a:hover,.sf-navbar ul a:active{}
ul.sf-navbar li li li:hover,
ul.sf-navbar li li li.sfHover,
.sf-navbar li li.current li.current,
.sf-navbar ul li li a:focus,.sf-navbar ul li li a:hover,.sf-navbar ul li li a:active{}
ul.sf-navbar .current ul,
ul.sf-navbar ul li:hover ul,
ul.sf-navbar ul li.sfHover ul{left:0;top:2.5em;/* match top ul list item height */}
ul.sf-navbar .current ul ul{top:-999em;}
.sf-navbar li li.current > a{font-weight:bold;}

/*** point all arrows down ***/
/* point right for anchors in subs */
.sf-navbar ul .sf-sub-indicator{background-position:-10px -100px;}
.sf-navbar ul a > .sf-sub-indicator{background-position:0 -100px;}
/* apply hovers to modern browsers */
.sf-navbar ul a:focus > .sf-sub-indicator,
.sf-navbar ul a:hover > .sf-sub-indicator,
.sf-navbar ul a:active > .sf-sub-indicator,
.sf-navbar ul li:hover > a > .sf-sub-indicator,
.sf-navbar ul li.sfHover > a > .sf-sub-indicator{background-position:-10px -100px;/* arrow hovers for modern browsers*/}
/*** remove shadow on first submenu ***/
.sf-navbar > li > ul{background:transparent;padding:0;}
.menu.sf-navbar ul{background:#000;color:#999999;width:100%;float:left;border-bottom:1px solid #333333;}
.menu.sf-navbar li#current ul{background:#222;color:#999999;width:100%;float:left;border-bottom:1px solid #333333;}
#topnav .main-nav ul.menu.sf-navbar ul li,
#topnav .main-nav ul.menu.sf-navbar ul li span.separator,
#topnav .main-nav ul.menu.sf-navbar li ul li a,
#topnav .main-nav ul.menu.sf-navbar li ul li span.separator{background:none;border:0;}
#topnav #nav .menu li span.separator{color:#666;white-space:nowrap;font-size:1.05em;padding:6px 19px 7px 13px;display:block;border-top:1px solid #222;border-left:1px solid #222;border-right:1px solid #000;}

/* top horizontal navigation - subtext
****************************************/
#topnav.subtext #nav ul.menu li a,
#topnav.subtext #nav ul.menu li span.separator{text-transform:uppercase;padding:16px 14px 10px;}
#topnav.subtext #nav ul.menu li ul li a,
#topnav.subtext #nav ul.menu li ul li span.separator{text-transform:none;padding:9px 19px 7px 13px;}
#topnav.subtext #nav ul.menu .submenu_item{padding:0;display:block;text-transform:none;font-weight:normal;font-size:0.8em;padding:0.5em 0;}
#topnav.subtext #nav ul.menu .subtext_anchor{margin-top:15px;}
#top .subtext_anchor{margin-top:0;}
#topnav.subtext #nav ul.menu .mainmenu_item{color:#ccc;}


/* top horizontal navigation - superfish
****************************************/
/* see superfish.css */


/* top horizontal navigation - superdrop
****************************************/
/* see superdrop.css */

/* sidebar vertical navigation - base
****************************************/
#secondary-content ul.menu, 
#tertiary-content ul.menu {

}
#secondary-content ul.menu li, 
#tertiary-content ul.menu li{
border-top:1px solid #1F2323;
list-style-type:none;
}
#secondary-content ul.menu li a,
#tertiary-content ul.menu li a,
span.separator{
color:#ccc;
text-decoration:none;
font-size:1em;
padding:.5em;
height:100%;
position:relative;
display:block;
}
#secondary-content ul.menu li a:hover,
#tertiary-content ul.menu li a:hover{
height:100%;
display:block;
background:#0c0d0d;
}
#secondary-content ul.menu a.active,
#tertiary-content ul.menu a.active{
background:#191919;
}
#secondary-content .menu.subtext-off li li a,
#tertiary-content .menu.subtext-off li li a{
color:#888;
}
#secondary-content .mod-fx ul.menu, 
#tertiary-content .mod-fx  ul.menu {
margin:0 -6px;
padding:0;
}

/* sidebar vertical navigation - nested
****************************************/

/* sidebar vertical navigation - sidefish
****************************************/
#secondary-content .menu.sf-vertical ul{
background: #111617;
width: 200px;
border: 1px solid #000;
}
/*** adding sf-vertical in addition to menu creates a vertical menu ***/
.sf-vertical,.sf-vertical li{}
/*this lacks ul at the start of the selector,so the styles from the main CSS file override it where needed*/
.sf-vertical li:hover ul,.sf-vertical li.sfHover ul{left:200px;/*match ul width*/
top:0;}
/*** alter arrow directions ***/
.sf-vertical .sf-sub-indicator{background-position:-10px 0;}
/*IE6 gets solid image only*/
.sf-vertical a>.sf-sub-indicator,
.sf-vertical li>span.sf-sub-indicator{background-position:0 0;}
/*use translucent arrow for modern browsers
hover arrow direction for modern browsers*/
.sf-vertical a:focus>.sf-sub-indicator,.sf-vertical a:hover>.sf-sub-indicator,.sf-vertical a:active>.sf-sub-indicator,.sf-vertical li:hover>a>.sf-sub-indicator,.sf-vertical li.sfHover>a>.sf-sub-indicator{background-position:-10px 0;/*arrow hovers for modern browsers*/}
/*sub nav positioning for different layouts*/
.yui-t1 .sf-vertical li:hover ul,.yui-t1 .sf-vertical li.sfHover ul,.yui-t2 .sf-vertical li:hover ul,.yui-t2 .sf-vertical li.sfHover ul,.yui-t3 .sf-vertical li:hover ul,.yui-t3 .sf-vertical li.sfHover ul,.yui-t8 .sf-vertical li:hover ul,.yui-t8 .sf-vertical li.sfHover ul{top:0;}
.yui-t1 #secondary-content .sf-vertical li:hover ul,
.yui-t1 #secondary-content .sf-vertical li.sfHover ul{left:11.0009em;}
.yui-t2 #secondary-content .sf-vertical li:hover ul,
.yui-t2 #secondary-content .sf-vertical li.sfHover ul{left:12.3000em;}
.yui-t3 #secondary-content .sf-vertical li:hover ul,
.yui-t3 #secondary-content .sf-vertical li.sfHover ul{left:22.0769em;}
.yui-t8 #secondary-content .sf-vertical li:hover ul,
.yui-t8 #secondary-content .sf-vertical li.sfHover ul{left:14.9em;}
.sf-vertical ul li{width:14em;border-left:none;top:-1px;}
.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul{left:-14.3456em;top:0;}
.yui-t4 #secondary-content .sf-vertical li:hover ul,
.yui-t4 #secondary-content .sf-vertical li.sfHover ul,
.yui-t5 #secondary-content .sf-vertical li:hover ul,
.yui-t5 #secondary-content .sf-vertical li.sfHover ul,
.yui-t6 #secondary-content .sf-vertical li:hover ul,
.yui-t6 #secondary-content .sf-vertical li.sfHover ul,
.yui-t9 #secondary-content .sf-vertical li:hover ul,
.yui-t9 #secondary-content .sf-vertical li.sfHover ul{left:-14.3456em;top:0;}
/*for right (tertiary) position menu flyout*/
.yui-t1 #tertiary-content .sf-vertical li:hover ul,
.yui-t1 #tertiary-content .sf-vertical li.sfHover ul,
.yui-t2 #tertiary-content .sf-vertical li:hover ul,
.yui-t2 #tertiary-content .sf-vertical li.sfHover ul,
.yui-t3 #tertiary-content .sf-vertical li:hover ul,
.yui-t3 #tertiary-content .sf-vertical li.sfHover ul,
.yui-t4 #tertiary-content .sf-vertical li:hover ul,
.yui-t4 #tertiary-content .sf-vertical li.sfHover ul,
.yui-t5 #tertiary-content .sf-vertical li:hover ul,
.yui-t5 #tertiary-content .sf-vertical li.sfHover ul,
.yui-t6 #tertiary-content .sf-vertical li:hover ul,
.yui-t6 #tertiary-content .sf-vertical li.sfHover ul,

.yui-t8 #tertiary-content .sf-vertical li:hover ul,
.yui-t8 #tertiary-content .sf-vertical li.sfHover ul,
.yui-t9 #tertiary-content .sf-vertical li:hover ul,
.yui-t9 #tertiary-content .sf-vertical li.sfHover ul{left:-14.00769em;}
.yui-gi #tertiary-content .sf-vertical li:hover ul{left:12.8461em;}
/*** position indicator for sidebar with menufx - subtext **/
#secondary-content ul.menu.subtext .sf-sub-indicator,
#tertiary-content ul.menu.subtext .sf-sub-indicator{right:2%;margin-top:13px;}
/*** position indicator for sidenav sub items **/
#secondary-content ul.menu.menu li ul li a .sf-sub-indicator,
#tertiary-content ul.menu.menu li ul li a .sf-sub-indicator{right:0.5em;margin-top:0px;}

/* sidebar vertical navigation - subtext
****************************************/
.main-nav ul.menu.subtext li ul li a{text-transform:none;padding:10px;font-size:1em;}
#secondary-content .submenu_item{padding:0;display:block;text-transform:none;font-weight:normal;font-size:0.8em;padding:0;}
#secondary-content ul.menu.subtext li,#tertiary-content ul.menu.subtext li{line-height:22px;}
#secondary-content .menu.subtext li a,#tertiary-content .menu.subtext li a{padding:8px 0 5px 5px;}
#secondary-content .menu.subtext li li a,#tertiary-content .menu.subtext li li a{padding:4px 0 5px 5px;}
#secondary-content .menu.subtext-off li,#tertiary-content .menu.subtext-off li{padding:0px;}
#secondary-content .menu.subtext-off li a,#tertiary-content .menu.subtext-off li a{padding:12px 0 9px 10px;}
#secondary-content .menu.subtext li a.subtext_anchor,#secondary-content .menu.subtext li span.separator,
#tertiary-content .menu.subtext li a.subtext_anchor,#tertiary-content .menu.subtext li span.separator{text-transform:uppercase;font-size:1em;}
#secondary-content .menu.subtext li ul li a.subtext_anchor,#secondary-content .menu.subtext li ul li span.separator,
#tertiary-content .menu.subtext li ul li a.subtext_anchor,#tertiary-content .menu.subtext li ul li span.separator{text-transform:inherit;padding:4px 0 5px 5px;font-size:1em;}
#secondary-content span.separator.subtext_anchor span.submenu_item{padding-left:10px;}
#secondary-content .menu.subtext li a.subtext_anchor .submenu_item,#secondary-content .menu.subtext li span.subtext_anchor .submenu_item,
#tertiary-content .menu.subtext li a.subtext_anchor .submenu_item,#tertiary-content .menu.subtext li span.subtext_anchor .submenu_item{font-size:0.9em;}
#secondary-content .menu.subtext li li,#tertiary-content .menu.subtext li li{padding:0 0 0 2px;}
#secondary-content .menu.subtext-off li li,#tertiary-content .menu.subtext-off li li{margin-left:-13px;}
#secondary-content .menu.subtext-off li li a,#tertiary-content .menu.subtext-off li li a{padding:0 0 0 7px;}
#bd .menu.menu{float:none;}
#bd .menu.menu li{float:none;}
